.AboutUs {
    margin-bottom: 35px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    /* height: 350px; */
    height: 100%;
    width: 32%;
    /* padding: 0px 100px 20px 100px; */
    padding-bottom: 20px;
    padding-left: 6%;
    padding-right: 6%;
    
}

.aboutus-title {
    color: #050505;
    font-size: xx-large;
    font-family: "Montserrat", sans-serif;
    cursor: default;
}

.aboutus-description {
    color: darkgray;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 35px;
    
}

.aboutus-clients {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.aboutus-clients-logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.aboutus-imgs-clients {
    /* height: 100%;
    width: 50%; */
    height: 60px;
    width: 100px;
}

@media (max-width:550px) {
    .AboutUs {
      width: 76%;

    }
  }