.Banner {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
}

.banner-title {
    color: #000000;
    font-size: xx-large;
    font-family: "Montserrat", sans-serif;
    cursor: default;
    margin-bottom: 30px;
}

.banner-container {

    display: grid;
    align-items: center;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    gap: 15px;
    margin-top: 20px;
}

.banner-imgs {
    cursor: pointer;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-bottom: -15px;
}

.line {
    width: 100%;
    border: 1px solid darkgray;
    margin-top: 10px;

}

.Fhover {
    color: rgb(91, 91, 91);
    cursor: default;
    font-family: "Montserrat", sans-serif;
}

.Fhover:hover {
    scale: 1.2;
    color: #80b918;
    transition: all 0.6s;

}

@media (max-width:860px) {
    .banner-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:250px) {
    .banner-container {
        grid-template-columns: repeat(2, 1fr);
    }
}