.Banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-title {
    color: #80b918;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: default;
    margin-bottom: 0px;
}

.banner-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    justify-items: center;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-imgs {
    cursor: pointer;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}

.banner-imgs:hover {
    scale: 1.2;
}

@media (max-width:800px) {
    .banner-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:250px) {
    .banner-container {
        grid-template-columns: repeat(2, 1fr);
    }
}