.Certificates {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.7)), url('../../assets/imgs/IMG_3752.jpg');
    background-size: cover;
    align-items: center;
    padding-bottom: 30px;
    border-top: 1px solid darkgray;
}

.certificates-labels {
    cursor:default;
    color: white;
    font-size: xx-large;
    font-weight:600;
    font-family: "Montserrat", sans-serif;
}

.certificates-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    width: 60%;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 15px;
}

.certificates-imgs {
    cursor: pointer;
    height: 90px;
    width: 90px;
}

.certificates-imgs-ue {
    cursor: pointer;
    height: 60px;
    width: 90px;
}

.certificates-imgs-orgarg {
    cursor: pointer;
    height: 90px;
    width: 70px;
}

@media (max-width:1150px) {
    .certificates-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
}

@media (max-width:550px) {
    .certificates-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:350px) {
    .certificates-container {
        grid-template-columns: repeat(1, 1fr);
    }
}