.ContactUs {
    justify-items: end;
    color:darkgray;
    margin-bottom: 35px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    width: 36%;
    padding-left: 3%;
    padding-right: 3%;
}

.contactus-title {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-family: "Montserrat", sans-serif;
    cursor: default;
}

.contactus-form {
    display: flex;
    flex-direction: column;
    padding: 0px 15px 10px 15px;
    gap: 10px;
}

.contactus-inputs {
    outline: none ;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: "Montserrat", sans-serif;
    border: none;
    height: 30px;
}

.contactus-inputs-message {
    height: 60px;
    resize: none;
    outline: none ;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.3);
    font-family: "Montserrat", sans-serif;
    border: none;
}

.contactus-endform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactus-btn {
    /* background-color: black; */
    height: 30px;
    width: 60px;
}

.contactus-chars {
    font-size: small;
}

@media (max-width:550px) {
    .ContactUs {
      width: 80%;
    }
  }