.ContactUs {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 50%;
    margin-bottom: 10px;
    background-color: #80b918;
}

.contactus-title {
    color: white;
    font-size: xx-large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    cursor: default;
}

.contactus-form {
    display: flex;
    flex-direction: column;
    padding: 0px 15px 10px 15px;
    gap: 10px;
}

.contactus-inputs {
    height: 20px;
    /* width: 100%; */
}

.contactus-inputs-message {
    height: 50px;
    resize: none;
}

.contactus-endform {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactus-btn {
    /* background-color: black; */
    height: 30px;
    width: 60px;
}

.contactus-chars {
    font-size: small;
}

@media (max-width:550px) {
    .ContactUs {
      width: 100%;
    }
  }