.Footer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.419);
    font-family: "Montserrat", sans-serif;
    margin-top: -15px;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 96%;
    color: darkgray;
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: small;
    margin-left: 2%;
    margin-right: 2%;
}

.footer-design {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.footer-imgs {
    width: 20px;
    height: 20px;
}

.footer-copyright {
    display: flex;
    justify-content: space-around;
    color: darkgray;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: small;
    padding-top: 5px;
    padding-bottom: 5px;
}