.box{
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgba(255, 255, 255, 0.419);
    font-family: "Montserrat", sans-serif;
    margin-bottom: 30px;
}
.desing{
    display: flex;
    justify-content: space-around;
    color: darkgray;
}
.pre{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.Devico{
    margin-left: 30px;
    width: 20px;
    height: 20px;
}
.footer{
    display: flex;
    width: 100%;
    justify-content: center;
    color: darkgray;
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    font-size: 1.0rem;
    font-weight: 300;
    padding: 10px 0px 10px 0px;
}