.navigation {
    /* justify-content: space-evenly; */
    position: relative;
    display: flex;
    align-items: center;
    height: 35px;
    width: 100%;
    background: #ffffff;
    padding: 0.5rem 0rem;
    color: #000000;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.6);
}
.picProfile{
    width: 100%;
}
.navbutton{
    border-radius: 9%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    width: 130px;
    height: 36px;
    text-align: center;
    margin:6px;
    font-size: larger;
    text-decoration: none;
    color: black;
    /* box-shadow: 0 0px 15px 0px rgba(0, 0, 0, 0.6); */
}
.navbutton:hover{
    box-shadow: 0 0px 10px 0px rgba(0, 0, 0, 0.6);
}
.link{
    text-decoration: none; 
    font-family: "Montserrat", sans-serif;
    color: black;
}

.brand-name {
    overflow: hidden;
    width:400px;
    margin-left: 2rem;
    margin-top: 5px;
}

.navigation-menu {
    display: flex;
    flex-direction: row;
    width: 40%;
    /* justify-content: space-evenly; */
    margin-left: 5%;
}

@media (max-width:800px) {
    .navigation-menu {
        justify-content: center;
        width: 100%;
        margin-left: 0px;
    }

    .brand-name{
        visibility: hidden;
        width: 1px;
    }
  }